#cajaA {
    background-color: green;
    width: 50px;
    height: 50px;
    display: flex;
    border: solid 2px black;
    /* position: float; */
}

#cajaB {
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    border: solid 2px black;
    /* position: float; */
}

#cajaC {
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    border: solid 2px black;
    /* position: float; */
}

.ratonEncima {
    background-color: orangered;
}

.ratonFuera {
    background-color: turquoise;
}