/* 
  Versión 1: Con float.
  
  OBSOLETA: Ver los ejemplos 02 y 03 del mismo día con flex y grid

*/

.divGris {
  background-color: grey;
  border: darkgrey solid 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  /* POSICIONAMIENTO */
  position: absolute;
  top: 10%;
  left: 30%;
  width: 20%;
}


.divRoja {
  background-color: red;
  border: darkred solid 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  /* POSICIONAMIENTO */
  position: relative;
  top: 10%;
  left: 30%;
  width: 20%;
}

.divNaranja {
  background-color: orange;
  border: orangered solid 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  /* POSICIONAMIENTO */

  width: 20%;
}

.divVerde {
  background-color: green;
  border: darkgreen solid 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  /* POSICIONAMIENTO */
  width: 20%;
}

.divAzul {
  background-color: blue;
  border: darkblue solid 3px;
  border-radius: 5px;
  /* padding: 2px;
  margin: 2px; */
  text-align: center;
  /* POSICIONAMIENTO */
  box-sizing: content-box; 
  /* tambien se puede box-sizing: */
  margin: 10px 5px 8px 3px;
  padding: 2px 6px 4px 7px;
  height: 250px;
  width: 300px;
}

.divAmarilla {
  background-color: yellow;
  border: darkorange solid 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  text-align: center;
  /* POSICIONAMIENTO */
  position: fixed;
  top: 75%;
  left: 75%;
  width: 20%;
}

/* FIN - Versión 1: Con float - obsoleta */

/* Mejor usar el position , MDN y w3schols */