#salida {
    border: 0.1vw solid black;
    background-color: rgb(171, 205, 229);
}

/* Vamos a definir algunos estilos comunes para las divs. Podría haberles creado una clase ya habría sido más rápido, o no o qué sé  yo. Todo depende de lo que quieras hacer. */
#div1, #div2, #div3, #div4 {
    border: 0.1vw solid black;
    height: 10%;
    margin-top: 0.5vw;
    text-align: center;
}

/* Ahora definimos estilos particulares para las mismas divs de antes */
#div1 {
    background-color: rgb(255, 113, 113);
}

#div2 {
    background-color: rgb(113, 255, 113);
}

#div3 {
    background-color: rgb(113, 113, 255);
}

#div4 {
    background-color: rgb(255, 255, 113);
}

#miTabla {
    margin-top: 1vw;
}

/* Vamos a dar el mismo estilo a #miTabla y a todas las celdas que la componen. Siempre que las celdas estén en una fila que no sea ni cabecera, ni pie, ni cuerpo. Podría haber usado un * en vez de ese tr en el selector */
#miTabla, #miTabla tr td {
    border: 0.1vw solid black;
}